@model List<CNPM_Layout.Models.RAP>
@{
    DateTime today = DateTime.Now;
    DateTime soNgayTrongThang = today;
    soNgayTrongThang = soNgayTrongThang.AddMonths(1);
    soNgayTrongThang = soNgayTrongThang.AddDays(-(soNgayTrongThang.Day));
}

<div class="d-flex justify-content-center flex-wrap mb-3">
    @for (int i = 0; i < soNgayTrongThang.Day; i++)
    {
        DateTime thoiGian = today.AddDays(i);
        string ngay = thoiGian.Day.ToString("00");
        string thang = thoiGian.Month.ToString("00");
        string thu = thoiGian.ToString("ddd");

        <div class="day" onclick="getSelectDay(25023800, '@thoiGian.ToString("yyyyMMdd")');">
            <button class="btn btn-outline-secondary m-1">@ngay <small>@thu </small><span>@thang</span></button>
        </div>
    }
</div>
<p>------------------------------------------------------------------------------------------------------</p>
<div class="d-flex justify-content-center flex-wrap mb-3">
    @foreach (var rap in Model)
    {
        <div class="ms-1">
            <button class="btn btn-outline-secondary m-1">@rap.DIACHI</button>
        </div>
    }
</div>
<p>------------------------------------------------------------------------------------------------------</p>
<div class="d-flex justify-content-center flex-wrap mb-3">
    @foreach (var rap in ViewBag.dsPhongChieu)
    {
        <div class="ms-1">
            <button class="btn btn-outline-secondary m-1">@rap.LOAIMANHINH</button>
        </div>
    }
</div>
<p>------------------------------------------------------------------------------------------------------</p>
@foreach (var rap in Model)
{
    <h5 class="mb-1">@rap.TENRAP</h5>
    
    <div class="d-flex flex-wrap">
        @if (ViewBag.dsPhongChieu != null)
        {
            foreach (var pc in ViewBag.dsPhongChieu)
            {
                <p class="text-muted mb-2">@pc.LOAIMANHINH</p>
                <button class="btn btn-light btn-sm me-2 mb-2">
                    @pc.GIOCHIEU.ToString("HH:mm")
                </button>
            }
        }
    </div>
}
<p>------------------------------------------------------------------------------------------------------</p>






