@model List<CNPM_Layout.Models.RAP>
@{
    foreach (var item in Model)
    {
        ViewBag.rapDuocChon = item.MARAP;
    }
}
@*-----------Hiển thị ngày chiếu ------------------------*@
@Html.Action("_NgayChieu", "MuaVe", new { maRap = ViewBag.RapDuocChon })
<hr class="border border-dark border-opacity-25 my-3" />
@*-----------Hiển thị địa chỉ rạp ------------------------*@
<div class="d-flex justify-content-center flex-wrap mb-3">
    @foreach (var rap in Model)
    {
        if (rap.MARAP != ViewBag.rapDuocChon)
        {
            <div class="ms-1">
                <a href="@Url.Action("LocTheoDiaChi", "MuaVe", new {marap = rap.MARAP})" class="btn btn-outline-secondary">@rap.DIACHI</a>
            </div>
            
        }
        else
        {
            <a href="@Url.Action("Index", "MuaVe")" class="btn btn-outline-secondary">@rap.DIACHI</a>
        }
    }
</div>
<hr class="border border-dark border-opacity-25 my-3" />
@*-----------Hiển thị loại màn hình ------------------------*@
@Html.Action("_LoaiManHinh", "MuaVe", new { marap = ViewBag.RapDuocChon })
<hr class="border border-dark border-opacity-25 my-3" />
@*-----------Hiển thị suất chiếu ------------------------*@

@foreach (var rap in Model)
{
    <div class="ms-auto">
        <h3>@rap.TENRAP</h3>
        @*@foreach (var item in ViewBag.ManHinh as List<CNPM_Layout.Models.LOAIMANHINH>)
        {
            <a>@item.MANHINH</a>;
        }*@
        @Html.Action("_SuatChieu", "MuaVe", new { marap = ViewBag.RapDuocChon })
    </div>
}
<hr class="border border-dark border-opacity-25 my-3" />